{% extends 'layout.html.twig' %}
{% block content %}


    <div class="container">
        <div class="text-center mt-5">
            <h1> MUSIQUE SAUVAGE </h1>
        </div>
    </div>
    <div class="boxes d-flex flex-column-reverse align-items-stretch flex-lg-row justify-content-around mt-5">
        <div class="calendar-block d-flex flex-column bg-secondary shadow rounded ms-2">
            <form class="d-flex flex-column" action='/' method='POST'>
                <input value='{{ search_date }}' class='inputDate' type='date' name='date'>
                <button class='calendar btn-sm btn-primary btn-rounded mt-2'><i class="fas fa-calendar-day"></i></button>
            </form>
            <div>
                <p class="mt-3 text-calendar text-white text-center">Choisis ton jour !</p>
                <p id="demo"></p>
            </div>
        </div>
        <div class="col-12 col-lg-5 bg-secondary shadow rounded" id="the-playlist-lecteur">
            <div class="p-2 flex-shrink-1">
                {% if is_from_date %}
                    <p class="text-white">Bonne écoute !</p>
                {% else %}
                    {% if count >= 10 %}
                        <p class="text-white">La playlist est pleine, reviens demain :)</p>
                    {% elseif  has_already_post %}
                        {% include'components/_fakeaddsong.html.twig' %}
                        <div class="ms-2 mt-2 mb-2 text-center">
                            <a class="link-add-song " href="" data-bs-toggle="modal" data-bs-target="#addingModal">
                                <button type="button" class="btn btn-primary btn-lg btn-block p-2 rounded-pill bouton">
                                    Ajouter une musique
                                </button>
                            </a>
                        </div>
                    {% else %}
                        {% include 'components/_addsongbox.html.twig' %}
                        <div class="ms-2 mt-2 mb-2 text-center">
                            <a class="link-add-song " href="" data-bs-toggle="modal" data-bs-target="#addingModal">
                                <button type="button" class="btn btn-primary btn-lg btn-block p-2 rounded-pill bouton">
                                    Ajouter une musique
                                </button>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
                <ul class="list-group list-group-flush">
                    {% set songUrl = '' %}
                    {% for song in songs %}
                        <li class="songs d-flex align-items-center list-group-item bg-secondary text-white position-relative">
                            <p class="rating-number position-absolute text-end">{% if song.rating == 0 %}{% else %}{{ song.rating }}{% endif %}</p>
                            {% if session %}
                                {% if song.id in ratings%}
                                    <i class="position-absolute heart-ranking-full fas fa-heart p-0"></i>
                                {% else %}
                                <form class="position-absolute" action='/rating?songId={{ song.id }}'  method='POST'>
                                    <button class ="btn-rating ms-1 " name="rating">
                                        <i class="heart-ranking far fa-heart p-0 ms-3"></i>
                                    </button>
                                </form>
                                    {% endif %}
                            {% else %}
                                <i class="heart-ranking position-absolute far fa-heart p-0"></i>
                            {% endif %}
                            <button type="button" data-url='{{ song.url }}' class='play-button me-0 position-absolute'>
                                <i class="fas fa-play-circle"></i>
                            </button> {# Système de votes #}
                            <p class="song-title mb-0">{{ song.title }} {# Titre de la musique #}
                                {% if session.user.is_admin %} {# trash-can #}
                                    <form action="/deleteSong" method="POST">
                                        <input type="hidden" name="id" value={{ song.id }} />
                                        <button name="delete" class='play-button me-0 ms-3 ms-3 mb-0 d-flex justify-content-end align-content-center'>
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>
                                    </form>
                                {% endif %}
                            </p>
                            <div class ="mb-0 ms-auto d-flex justify-content-end align-content-center">

                                <p class="share-pseudo-by">par</p>
                                {% if session %}
                                    <a href="/user?id={{ song.user_id }}" title="{{ song.pseudo }}"
                                       class="share-pseudo text-decoration-none link-primary ms-1">
                                        <img src="https://avatars.githubusercontent.com/{{ song.github_name }}"
                                             alt="Photo de {{ song.pseudo }}" width="20" height="auto"
                                             class="ms-1 align-self-center rounded-circle">
                                    </a>
                                {% else %}
                                    <div class="share-pseudo text-decoration-none link-primary ms-1">
                                        <img src="https://avatars.githubusercontent.com/{{ song.github_name }}"
                                             alt="Photo de {{ song.pseudo }}" width="20" height="auto"
                                             class="ms-1 align-self-center rounded-circle">
                                    </div>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-lg-5 shadow rounded me-2 player-height">
            <div>
                {% include 'components/_video-player.html.twig' %}
            </div>
        </div>
    </div>
    <div id="logo" class="d-flex justify-content-center">
        <img class="logo" src="/assets/images/logo-filaire-2.png" alt="logo wild playlist" width="100%" height="auto">
    </div>
{% endblock %}
{% block javascript %}
<script src="assets/scripts/changeUrlSong.js"></script>
{% endblock %}