{% extends 'layout.html.twig' %}
{% block content %}

    <div class="boxes d-flex flex-column-reverse align-items-stretch flex-lg-row justify-content-around mt-5">
        <div class="calendar-block d-flex flex-column bg-secondary shadow rounded ms-2">
            <form class="d-flex flex-column" action='/' method='POST'>
                <input class='inputDate' type='date' name='date'>
                <button class='calendar btn-sm btn-primary btn-rounded'><i class="fas fa-calendar-day"></i></button>
            </form>
            <div>
                <p class="text-white">Quel jour ?</p>
            </div>
        </div>
        <div class="col-12 col-lg-5 bg-secondary shadow rounded">
            <div class="p-2 flex-shrink-1">
                <ul class="list-group list-group-flush">
                    {% set songUrl = '' %}
                    {% for song in songs %}

                        <li class="songs d-flex align-items-center list-group-item bg-secondary text-white position-relative">
                            <p class="rating-number position-absolute">{{ song.rating }}</p>
                            <i class="arrow-ranking fas fa-arrow-up p-0 ms-3"></i>
                            <button type="button" data-url='{{ song.url }}' class='play-button me-0 ms-3'>
                                <i class="fas fa-play-circle"></i>
                            </button> {# Système de votes #}
                            <h6 class="mb-0 ms-4">{{ song.title }}</h6> {# Titre de la musique #}
                            <div class ="mb-0 ms-auto d-flex justify-content-end align-content-center">
                                <p class="share-pseudo-by">par</p>
                                {% if session %}
                                    <a href="/user?id={{ song.user_id }}" title="{{ song.pseudo }}" class="share-pseudo text-decoration-none link-primary ms-1">
                                        <img src="https://avatars.githubusercontent.com/{{ song.github_name }}"
                                             alt="Photo de {{ song.pseudo }}"  width="20" height="auto" class="ms-1 align-self-center rounded-circle">
                                    </a>
                                {% else %}
                                    <div class="share-pseudo text-decoration-none link-primary ms-1">
                                        <img src="https://avatars.githubusercontent.com/{{ song.github_name }}"
                                             alt="Photo de {{ song.pseudo }}"  width="20" height="auto" class="ms-1 align-self-center rounded-circle">
                                    </div>
                                {% endif %}
                            </div>
                        </li> {# Pseudo de l'utilisateur #}

                    {% endfor %}
                    {% if count >= 10  %}
                        <p class="text-white">La playlist est pleine, reviens demain :)</p>
                    {% elseif  has_already_post %}
                        <p class="text-white">On a dit une musique par jour !</p>
                    {% else %}
                        {% include 'components/_addsongbox.html.twig' %}
                        <div class="ms-2 mt-2">
                            {% if session %}
                                <a class="link-add-song " href="" data-bs-toggle="modal" data-bs-target="#addingModal"><i class="fas fa-plus-circle"></i></a>
                            {% else %}
                                <h6 class="connect-add mt-3 mb-0 me-4">Fais nous écouter tes goûts en te connectant</h6>
                            {% endif %}
                        </div>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-lg-5 bg-secondary shadow rounded me-2 player-height">
            <div>
                {% include 'components/_video-player.html.twig' %}
            </div>
        </div>
    </div>
    <div id="logo" class="d-flex justify-content-center">
        <img class="logo" src="/assets/images/logo-filaire-2.png" alt="logo wild playlist" width="100%" height="auto">
    </div>
{% endblock %}
{% block javascript %}
<script src="assets/scripts/changeUrlSong.js"></script>
{% endblock %}