{% extends 'layout.html.twig' %}
{% block content %}
    {{ dump(songs) }}
    <h1>Musique Sauvage</h1>
    <div class="indexContainer">
        <img class="logo" src="/assets/images/logo_wild_playlist.gif" alt="logo wild playlist" width="150" height="auto">
    </div>

    <form action='' method='POST'>
        <input type='date' name='date'>
        <button class='btn btn-primary'>Ok</button>
    </form>

    <ul>
        {% for song in songs %}
            <li class='text-light'>{{ song.rating }} <i class="fas fa-arrow-up"></i> {{ song.title }} <i class="fas fa-play"></i><br>{{ song.url }}<br>Partagé par {{ song.pseudo }}</li>
        {% endfor %}
    </ul>
    {% include 'components/_video-player.html.twig' %}
{% endblock %}
