{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Edit profil {{ user.pseudo }}</h1>
    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class=" col-md-4 card p-4">
            <div class=" image d-flex flex-column justify-content-center align-items-center mt-4">
                <button class="btn">
                    <img class="rounded-circle m-auto" src="https://avatars.githubusercontent.com/{{ user.github_name }}" height="100" width="100" />
                </button>
                <span class="name mt-2">{{ user.pseudo }}</span>
                <div class="d-flex flex-row justify-content-center align-items-center gap-2 mt-1">
                    <i class="fab fa-github"></i>
                    <span class="idd1">{{ user.github_name }}</span>
                </div>
                <form action="/user/edit?id={{ session.user.id }}" method="post">
                    <div class="form-floating mb-3">
                        <input value="{{ session.user.pseudo }}" type="text" name="pseudo" class="form-control rounded-4" id="floatingInput1" placeholder="Pseudo">
                        <label for="floatingInput1">Pseudo</label>
                    </div>
                    <button name="update" class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Modifier</button>
                </form>
                {%  if user.is_admin %}
                    <div>
                        <span><i class="fas fa-crown"></i></span>
                    </div>
                {% endif %}
                <div class=" px-2 rounded mt-4 ">
                    <span class="join">Membre depuis le {{ user.created_at }}</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
