{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class=" col-md-4 card p-4">
            <div class=" image d-flex flex-column justify-content-center align-items-center mt-4">
                <img class="rounded-circle m-auto" src="https://avatars.githubusercontent.com/{{ user.github_name }}" height="100" width="100" />
                <span class="name mt-2">{{ user.pseudo }}</span>
                <!-- <span class="idd mt-3">{{ user.mail }}</span> -->
                <div class="d-flex flex-row justify-content-center align-items-center gap-2 mt-1 ">
                    <i class="fab fa-github"></i>
                    <div class=" list-group-flush">{{ user.github_name }}</div>
                </div>
                {% if session.user.id == user.id %}
                <div class="d-flex mt-5 ">
                    <button class="rounded btn-dark mt-3 p-2"><a href="/user/edit?id={{ user.id }}" class="text-decoration-none btn-dark mt-3">Edit Profile</a></button>
                </div>
                {% endif %}
                <p class="text-muted mt-4 mb-1 border border-bottom-0 border-end-0 border-start-0">{% if session.user.id == user.id %}mes{% else %}ses{% endif %} chansons</p>
                <div class="text">
                    <ul class="list-unstyled">
                    {% for song in songs %}
                        <li class="mt-O pt-O">
                            <a class="text-decoration-none" href="https://www.youtube.com/watch?v={{ song.url }}" target="_blank">{{ song.title }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                {%  if user.is_admin %}
                    <div>
                        <span><i class="fas fa-crown"></i></span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}